.vagrant/
*.box
*.retry
ansible/*.retry
ansible/**/*.retry
*.pem
*.key
**/*.pem
**/*.key
*.log
**/*.log
.idea/
.vscode/
*.swp
*.swo
*~
**/.idea/
**/.vscode/
**/*.swp
**/*.swo
**/*~
.DS_Store
Thumbs.db
**/.DS_Store
**/Thumbs.db
